In [1]:
configs_spark = {
    "spark.jars.packages": "org.apache.hadoop:hadoop-aws:3.3.2",
    "spark.hadoop.fs.s3a.access.key": 'wZPhSZYqzYwCwZBG7H9F',
    "spark.hadoop.fs.s3a.secret.key": 'laK81FcRGl6Kd6JXi1EYA5V7HGzG25ReFMbpwfKN',
    "spark.hadoop.fs.s3a.endpoint": 'http://192.168.0.103:9000',
    "spark.hadoop.fs.s3a.path.style.access": "true",
    "spark.hadoop.fs.s3a.impl": "org.apache.hadoop.fs.s3a.S3AFileSystem",
    "spark.hadoop.fs.s3a.connection.ssl.enabled": "false"
}


def create_spark_session():
    spark = SparkSession.builder.master("spark://spark:7077").appName("IT4818")
    for key, value in configs_spark.items():
        spark.config(key, value)
    return spark.getOrCreate()

In [2]:
from pyspark.sql import SparkSession

spark = create_spark_session()

In [3]:
import os

In [4]:
file_name = ['Sales_December_2019.csv','Sales_April_2019.csv','Sales_February_2019.csv','Sales_March_2019.csv','Sales_August_2019.csv','Sales_May_2019.csv',
             'Sales_November_2019.csv','Sales_October_2019.csv','Sales_January_2019.csv','Sales_September_2019.csv','Sales_July_2019.csv','Sales_June_2019.csv']

In [5]:
csv_files = [os.path.join("s3a://btl", f"{x}") for x in file_name]

## 1. What is the total number of sales?

In [6]:
from pyspark.sql.functions import col, sum

In [7]:
jan = spark.read.csv('s3a://btl/Sales_April_2019.csv', header=True)

In [8]:
jan.show()

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95|04/19/19 08:46|917 1st St, Dalla...|
|    null|                null|            null|      null|          null|                null|
|  176559|Bose SoundSport H...|               1|     99.99|04/07/19 22:30|682 Chestnut St, ...|
|  176560|        Google Phone|               1|       600|04/12/19 14:38|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|04/12/19 14:38|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99|04/30/19 09:27|333 8th St, Los A...|
|  176562|USB-C Charging Cable|               1|     11.95|04/29/19 13:03|381 Wilson St, Sa...|
|  176563|Bose SoundSport H...|               1|     99.99|04/02/19 07:46|668 Center St, Se...|
|  176564|USB-C Charging Cable|               1|     11.95|04/12/19 10:58|790 Ridge St, Atl...|
|  176565|  Macbook Pro Laptop|               1|      1700|04/24/19 10:38|915 Willow St, Sa...|
|  176566|    Wired Headphones|               1|     11.99|04/08/19 14:05|83 7th St, Boston...|
|  176567|        Google Phone|               1|       600|04/18/19 17:18|444 7th St, Los A...|
|  176568|Lightning Chargin...|               1|     14.95|04/15/19 12:18|438 Elm St, Seatt...|
|  176569|27in 4K Gaming Mo...|               1|    389.99|04/16/19 19:23|657 Hill St, Dall...|
|  176570|AA Batteries (4-p...|               1|      3.84|04/22/19 15:09|186 12th St, Dall...|
|  176571|Lightning Chargin...|               1|     14.95|04/19/19 14:29|253 Johnson St, A...|
|  176572|Apple Airpods Hea...|               1|       150|04/04/19 20:30|149 Dogwood St, N...|
|  176573|USB-C Charging Cable|               1|     11.95|04/27/19 18:41|214 Chestnut St, ...|
|  176574|        Google Phone|               1|       600|04/03/19 19:42|20 Hill St, Los A...|
|  176574|USB-C Charging Cable|               1|     11.95|04/03/19 19:42|20 Hill St, Los A...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 20 rows

In [ ]:
jan_total_sale = jan.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale"))

In [ ]:
jan_total_sale.show()

In [ ]:
df = spark.createDataFrame([], jan.schema)
for csv in csv_files:
    df = df.unionAll(spark.read.csv(csv, header=True))

In [ ]:
df.show(5)

In [ ]:
df.count()

In [ ]:
df = df.na.drop(subset=['Quantity Ordered', 'Price Each'])
df.count()

In [ ]:
total_sales = df.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale"))
total_sales.show()

In [ ]:
# For visualize
labels = []
values = []

# Jan
labels.append("Jan")
jan = spark.read.csv('s3a://btl/Sales_January_2019.csv', header=True)
values.append(jan.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Feb
labels.append("Feb")
feb = spark.read.csv('s3a://btl/Sales_February_2019.csv', header=True)
values.append(feb.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Mar
labels.append("Mar")
mar = spark.read.csv('s3a://btl/Sales_March_2019.csv', header=True)
values.append(mar.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Apr
labels.append("Apr")
apr = spark.read.csv('s3a://btl/Sales_April_2019.csv', header=True)
values.append(apr.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# May
labels.append("May")
may = spark.read.csv('s3a://btl/Sales_May_2019.csv', header=True)
values.append(may.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Jun
labels.append("Jun")
jun = spark.read.csv('s3a://btl/Sales_June_2019.csv', header=True)
values.append(jun.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Jul
labels.append("Jul")
jul = spark.read.csv('s3a://btl/Sales_July_2019.csv', header=True)
values.append(jul.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Aug
labels.append("Aug")
aug = spark.read.csv('s3a://btl/Sales_August_2019.csv', header=True)
values.append(aug.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Sep
labels.append("Sep")
sep = spark.read.csv('s3a://btl/Sales_September_2019.csv', header=True)
values.append(sep.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Oct
labels.append("Oct")
octo = spark.read.csv('s3a://btl/Sales_October_2019.csv', header=True)
values.append(octo.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Nov
labels.append("Nov")
nov = spark.read.csv('s3a://btl/Sales_November_2019.csv', header=True)
values.append(nov.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

# Dec
labels.append("Dec")
dec = spark.read.csv('s3a://btl/Sales_December_2019.csv', header=True)
values.append(dec.withColumn("sale", col("Quantity Ordered") * col("Price Each")).agg(sum("sale").alias("total_sale")).collect()[0]['total_sale'])

In [ ]:
# Save .csv for elk
data = list(zip(labels, values))
qs1_df = spark.createDataFrame(data, ["Month", "Total Sale"])
qs1_df.write.csv("s3a://btl/ressult/qs1.csv", header=True)

• What is the average sales per month?
• What is the monthly revenue?
• What are the key demographics of the customers?
• Which market (country) generated the most sales on average?
• What were the profits by segment?
• When were the best- and worst-selling periods?
• Which products sell best?
• Which products should the company order more or less of?
• How should the company adjust its marketing strategies to VIP customers and less-engaged
ones?
• Should the company acquire new customers, and how much money should they spend on
it?

## 2. What is the average sales per month?

In [ ]:
average_sales = total_sales.withColumn('average_sale', col('total_sale') / 12)

In [ ]:
average_sales.show()

## 3. What is the monthly revenue?

In [ ]:
qs1_df.show()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(labels, values,
        width = 0.4)
 
plt.xlabel("Month")
plt.ylabel("Total Sale")
plt.title("Total Sale in each Month")
plt.show()

## 4. What are the key demographics of the customers?

In [ ]:
import pyspark.sql.functions as F

In [ ]:
df = df.withColumn('area', F.split(col('Purchase Address'), ',')[1])

In [ ]:
df.show(5)

In [ ]:
area_count = df.groupBy('area').count()
area_count.show()

In [ ]:
area_labels = area_count.select("area").rdd.flatMap(lambda x: x).collect()
area_values = area_count.select("count").rdd.flatMap(lambda x: x).collect()

In [ ]:
area_labels = ["Unknown" if item is None else item for item in area_labels]

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(area_labels, area_values,
        width = 0.4)
 
plt.xlabel("Area")
plt.xticks(rotation=45)
plt.ylabel("Amount Of Products")
plt.show()

In [ ]:
percentage_df = df.groupBy('area').agg((F.count('*') / F.lit(df.count()) * 100).alias('percentage'))

In [ ]:
percentage_df.withColumn(
    'formatted_percentage',
    F.concat(F.format_number(F.col('percentage'), 2), F.lit('%'))
).show()

In [ ]:
best_seller_df = df.groupBy('area', 'Product').agg(F.max('Quantity Ordered').alias('max_quantity'))
best_seller_per_area_df = best_seller_df.groupBy('area').agg(
    F.first('Product').alias('best_seller_product'),
    F.max('max_quantity').alias('highest_quantity')
)

best_seller_per_area_df.show()

## 5. Which market (country) generated the most sales on average?

In [ ]:
area_total_sale_df = df.withColumn('total', col('Quantity Ordered') * col('Price Each')) \
                  .groupBy('area') \
                  .agg(sum('total').alias('area_total_sale'))
area_total_sale_df.show()

In [ ]:
area_total_sale_labels = area_total_sale_df.select("area").rdd.flatMap(lambda x: x).collect()
area_total_sale_labels.remove(None)
area_total_sale_values = area_total_sale_df.select("area_total_sale").rdd.flatMap(lambda x: x).collect()
area_total_sale_values.remove(None)

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(area_total_sale_labels, area_total_sale_values,
        width = 0.4)
 
plt.xlabel("Area")
plt.xticks(rotation=45)
plt.ylabel("Total Sales")
plt.show()

In [9]:
spark.stop()